@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html *::-webkit-scrollbar, .scrollbar::-webkit-scrollbar {
  width: 7px;
}

html *::-webkit-scrollbar-track {
  background: #262626;
  margin-right: 10px;
  border: solid 3px transparent;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-bottom: 10px;
  margin-top: 10px;
}

html *::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 100vh;
  border: solid 3px transparent;
}

html *::-webkit-scrollbar-thumb:hover, .scrollbar::-webkit-scrollbar-thumb:hover {
  background: #606060;
}
